.dialogRoot {
    overflow: hidden;
}
.left {
    float: left;
    width: 20%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    max-height: 800px;
    align-items: center;
}
.right {
    float: right;
    max-height: 800px;
    width: 80%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: flex-start;
}
.rightExcel {
    float: right;
    height: 800px;
    width: 80%;
    display: flex;
    overflow: scroll;
    flex-direction: column;
    align-items: flex-start;
}
.selected {
    box-shadow: 0 0 0 5px rgb(173, 227, 43);
    outline: none;
}
.avatar {
    width: 5vw;
    height: 5vw;
    margin-bottom: 15px;
    flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
    .avatar {
        width: 15vw;
        height: 15vw;
        margin-bottom: 35px;
    }
}

::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
.image {
    margin: 25px;
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 90%;
}
.margin {
    margin: 15px;
}
.btns {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
}
.hide {
    display: none;
}
.excel {
    width: 90vw;
    height: 90vh;
}